<section>
    <h1>Watched List</h1>
        <div class="output">
            <p>${movieDetailsArray.map(movie => `
                <ul>
                    <li>
                        <a href='../../movies/${movie.id}'><img src="https://image.tmdb.org/t/p/w500/${movie.poster_path}" alt="${movie.title} Poster" /></a>
                    </li>
                    <li>${movie.title}</li>
                    <li>${movie.release_date}</li>
                    <li><a href='../../movies/${movie.id}'>Read More</a></li>
                </ul>`).join('')}</p>
        </div>
        </section>
    