<div class="details">
    <div class="container">
        <h1>${singleMovieData.title}</h1>
        <p><img src="https://image.tmdb.org/t/p/w500/${singleMovieData.poster_path}" alt="${singleMovieData.title} poster" /></p>
        <p><span class="tagline">"${singleMovieData.tagline}"</span><br /></p>
        <p><span class="yellow"><strong>Release Date</strong></span><br /> ${singleMovieData.release_date}</p>
        <p><span class="yellow"><strong>Runtime</strong></span><br /> ${singleMovieData.runtime} Minutes</p>
        <p><span class="yellow"><strong>Overview</strong></span><br /> ${singleMovieData.overview}</p>
        <p><span class="yellow"><a href="${singleMovieData.homepage}" target="_blank"><strong>Website</strong></a></span><br /></p>
        ${!!is_logged_in ? `
            <p><form action="/myplaylists/add" method="POST">
                Create a List:
                <label>
                    <input type="text" name="list_title" placeholder="List Name" required />
                    <input type="hidden" value="${user_id}" name="user_id" />
                    <button type="submit">Create</button>
                </label>
            </form>
            </p>
            <p>
            <form action="/myplaylists/:list_id/add" method="POST">
                Add to a List:
                    <select>
                        ${singlelistData.map(lists => `
                            <option value="${lists.list_title}">
                                ${lists.list_title}
                            </option>
                            `).join('')}
                    </select>
                <input type="hidden" value="${singleMovieData.id}" name="movie_id" />
                <input type="hidden" value="${user_id}" name="user_id" />
                <button type="submit">Add</button>
            </form>
            </p>
            ` : `
            <p class="reglog"><a href='/users/signup'>Register</a> & <a href='/users/login'>Login</a> to leave a review!</p>
            `
        }
    </div>
</div>


${!!is_logged_in ? `
    <form class="form clearfix" action="/reviews/add" method="POST">
        <p>Add a new review:</p>
        <input type="hidden" value="${singleMovieData.id}" name="movie_id" />
        <input type="hidden" value="${user_id}" name="user_id" />
        <div class="field">
            <div class="control">
                <textarea class="textarea is-primary" placeholder="Leave a review" rows="4" cols="50" name="review_content" required></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <span style="display:inline-block; margin-right: 16px;">Rating:</span>
                <label>
                    <input type="radio" value=1 name="score" required/>
                    1 Star
                </label>
                <label>
                    <input type="radio" value=2 name="score"/>
                    2 Stars
                </label>
                <label>
                    <input type="radio" value=3 name="score"/>
                    3 Stars
                </label>
                <label>
                    <input type="radio" value=4 name="score"/>
                    4 Stars
                </label>
                <label>
                    <input type="radio" value=5 name="score"/>
                    5 Stars
                </label>
            </div>
        </div>
        <button class="button is-primary" type="submit">Submit Review</button>
    </form>
    ` : `
    <p class="reglog"><a href='/users/signup'>Register</a> & <a href='/users/login'>Login</a> to leave a review!</p>
    `
}
</section>

<section>
    <div class="clearfix">
        <ul style="margin-top: 16px;">
            ${reviewData.map(review => `
                <li>
                    <span class="score" style="display: inline-block; width: 100%;">${review.score} Stars</span>
                    <p>${review.review_content}</p>
                </li>
            `).join('')}
        </ul>
    </div>
</section>