<div class="details">
    <div class="container">
    <h1>${singleMovieData.title}</h1>
    <p><img src="https://image.tmdb.org/t/p/w500/${singleMovieData.poster_path}" alt="${singleMovieData.title} poster" /></p>
    <p><span class="tagline">"${singleMovieData.tagline}"</span><br /></p>
    <p><span class="yellow"><strong>Release Date</strong></span><br /> ${singleMovieData.release_date}</p>
    <p><span class="yellow"><strong>Runtime</strong></span><br /> ${singleMovieData.runtime} Minutes</p>
    <p><span class="yellow"><strong>Overview</strong></span><br /> ${singleMovieData.overview}</p>
    <p><span class="yellow"><a href="${singleMovieData.homepage}" target="_blank"><strong>Website</strong></a></span><br /></p>
    </div>
</div>
<div class="my-movies">
    <form name="my-movies" action="/myplaylists/newMovie" method="POST" class="form">
      <input type="hidden" value="${singleMovieData.id}" name="movie_id">
      <button type="submit">Add to My Movies</button>
    </form>
</div>
